body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(13, 46, 9);
  background-color: aqua;
}
.personal {
  text-align: center;
  border: solid #3cff25;
  border-radius: 20px;
  background-color: aquamarine;
}
.about {
  text-align: center;
  border: solid #3cff25;
  border-radius: 20px;
  background-color: aquamarine;
}
.list {
  text-align: center;
  list-style-position: inherit;
  border: solid #3cff25;
  border-radius: 20px;
  background-color: aquamarine;
}

.school {
  text-align: center;
  border: solid #3cff25;
  border-radius: 20px;
  background-color: aquamarine;
}

.jail {
  text-align: center;
  align-items: center;
  /* justify-content: center; */
  border: solid #3cff25;
  border-radius: 20px;
  background-color: aquamarine;
}
